{
  "Resources": {
    "instance": {
      "Type": "AWS::EC2::Instance",
      "Properties": {
        "LaunchTemplate": {
          "LaunchTemplateId": {
            "Ref": "launchTemplate"
          },
          "Version": {
            "Fn::GetAtt": [
              "launchTemplate",
              "LatestVersionNumber"
            ]
          }
        },
        "InstanceInitiatedShutdownBehavior": "terminate",
        "SubnetId": {
          "Fn::If": [
            "createNewVpcInfrastructure",
            {
              "Ref": "subnet"
            },
            {
              "Ref": "providedSubnet"
            }
          ]
        }
      }
    }
  }
}