{
	"instance-types": "INSTANCE_TYPES",
	"test-suite": "TEST_SUITE",
	"cpu-threshold": 50,
	"mem-threshold": 25,
	"vpc": "VPC_ID",
	"subnet": "",
	"ami": "",
	"timeout": 12345,
	"persist": false,
	"profile": "",
	"region": "us-east-2",
	"bucket": "",
	"custom-script": "",
	"config-file": "",
	"demo-mode": false
}